Dataset link is [here](https://zenodo.org/record/841984#.YKKPGKgzZPY)

https://downloads.tatoeba.org/exports/

In [3]:

import pandas as pd

### Import data

In [2]:
df = pd.read_csv('data/sentences.csv', sep='\t', encoding='utf-8',header=None, names=['number', 'Label', 'Text'])

In [3]:
df

           number Label                                               Text
0               1   cmn                                             我們試試看！
1               2   cmn                                            我该去睡觉了。
2               3   cmn                                            你在干什麼啊？
3               4   cmn                                             這是什麼啊？
4               5   cmn                             今天是６月１８号，也是Muiriel的生日！
...           ...   ...                                                ...
9593117  10037740   eng            If you eat this, then I'll eat it, too.
9593118  10037741   eng                 If you eat this, I'll eat it, too.
9593119  10037742   deu  Geld ist besser als Armut –- wenn auch nur aus...
9593120  10037743   eng                   If you do that, I'll do it, too.
9593121  10037744   fin                          Haluan miettiä sitä itse.

[9593122 rows x 3 columns]

In [4]:
# drop numberc column we don't need it
df.drop(['number'], axis=1, inplace=True)

In [5]:
# labels_frequency
label_frequency= df.Label.value_counts()

In [6]:
label_frequency = pd.DataFrame(label_frequency)
label_frequency

       Label
eng  1471328
rus   847687
ita   785886
tur   709325
epo   658137
..       ...
nys        1
ryu        1
oji        1
lou        1
ssw        1

[396 rows x 1 columns]

In [7]:
less_than_3000 = label_frequency.where(label_frequency.Label<3000).dropna()
less_than_3000

      Label
grn  2919.0
asm  2897.0
frr  2855.0
mon  2759.0
dtp  2689.0
..      ...
nys     1.0
ryu     1.0
oji     1.0
lou     1.0
ssw     1.0

[319 rows x 1 columns]

In [8]:
drop_list = less_than_3000.index
drop_list

Index(['grn', 'asm', 'frr', 'mon', 'dtp', 'cbk', 'sqi', 'ilo', 'gle', 'arq',
       ...
       'lug', 'urh', 'hax', 'cyo', 'rel', 'nys', 'ryu', 'oji', 'lou', 'ssw'],
      dtype='object', length=319)

In [9]:
df.head()

  Label                    Text
0   cmn                  我們試試看！
1   cmn                 我该去睡觉了。
2   cmn                 你在干什麼啊？
3   cmn                  這是什麼啊？
4   cmn  今天是６月１８号，也是Muiriel的生日！

In [10]:
train_df = df.copy()

In [11]:
for i in tqdm(drop_list):
    train_df = train_df.loc[train_df.Label != i]

100%|████████████████████████████████████████████████████████████████████████████████| 319/319 [05:40<00:00,  1.07s/it]

In [12]:
len(train_df)

9489909

In [13]:
train_df.Label.value_counts()

eng    1471328
rus     847687
ita     785886
tur     709325
epo     658137
        ...
cor       3925
kaz       3685
kzj       3685
est       3613
tha       3495
Name: Label, Length: 77, dtype: int64

***we will take 6000 sample of each label which has more thah 6k samples***

In [14]:
more_than_6000 = label_frequency.where(label_frequency.Label>6000).dropna()

In [15]:
sample_list_drop = more_than_6000.index
sample_list_drop

Index(['eng', 'rus', 'ita', 'tur', 'epo', 'kab', 'deu', 'fra', 'por', 'ber',
       'spa', 'hun', 'jpn', 'heb', 'ukr', 'nld', 'fin', 'pol', 'mkd', 'cmn',
       'mar', 'lit', 'ces', 'dan', 'srp', 'toki', 'swe', 'lat', 'ara', 'ell',
       'ina', 'ron', 'bul', 'pes', 'vie', 'tlh', 'nds', 'lfn', 'tgl', 'jbo',
       'nob', 'ind', 'tat', 'slk', 'hin', 'bel', 'isl', 'kmr', 'cat', 'uig',
       'kor', 'ile', 'ido', 'bre', 'tuk', 'yid', 'eus', 'yue'],
      dtype='object')

In [16]:
sample_df=pd.DataFrame()

In [17]:
for i in tqdm(range(len(sample_list_drop))):
    sample_df = pd.concat([train_df.loc[train_df.Label == sample_list_drop[i]].sample(6000), sample_df])

100%|██████████████████████████████████████████████████████████████████████████████████| 58/58 [00:26<00:00,  2.18it/s]

In [18]:
sample_df

        Label                                             Text
5021444   yue                                       你點解唔同我哋講嘅？
1952374   yue                                          你要食早餐啊。
1018771   yue                                           你同我講嘢？
5383439   yue                                             放開佢！
5411289   yue                                你成世人收過最正嘅聖誕禮物係咩呀？
...       ...                                              ...
8770558   eng                   Tom might want you to do that.
5861899   eng  Is Tom going to play the guitar for us tonight?
2403529   eng                                I was sure of it.
3347605   eng                                Time is precious.
2634566   eng    Claudia asked Paolo, "Do you love Francesca?"

[348000 rows x 2 columns]

***Now some in sample df we dont have labels between 3000 to 6000 take them***

In [28]:
for i in tqdm(more_than_6000.index):
    train_df = train_df.loc[train_df.Label != i]

100%|██████████████████████████████████████████████████████████████████████████████████| 58/58 [00:10<00:00,  5.54it/s]

In [32]:
train_df.Label.value_counts()

kat    5731
oci    5693
gos    5559
aze    5347
run    5278
hrv    5202
ben    4714
glg    4603
wuu    4505
mhr    4300
zsm    4258
vol    4101
afr    4031
avk    3942
cor    3925
kzj    3685
kaz    3685
est    3613
tha    3495
Name: Label, dtype: int64

In [33]:
main_df = pd.concat([sample_df, train_df])

In [34]:
main_df

        Label                                            Text
5021444   yue                                      你點解唔同我哋講嘅？
1952374   yue                                         你要食早餐啊。
1018771   yue                                          你同我講嘢？
5383439   yue                                            放開佢！
5411289   yue                               你成世人收過最正嘅聖誕禮物係咩呀？
...       ...                                             ...
9592864   kzj            Au zikoi monoodo do kobohingkaangan.
9592869   kzj                  Onu kozo di kinaantakan doiti?
9592872   kzj     Ouhan no do momongo do kobohingkaangan dii.
9592874   kzj        Notipu no o kolar om minogidu no i tasu.
9592877   kzj  Nakabalajal zou do boos Onggilis di duvo toun.

[433682 rows x 2 columns]

In [35]:
main_df.Label.value_counts()

ina    6000
srp    6000
yue    6000
epo    6000
heb    6000
       ...
cor    3925
kzj    3685
kaz    3685
est    3613
tha    3495
Name: Label, Length: 77, dtype: int64

In [37]:
main_df.Label.unique()

array(['yue', 'eus', 'yid', 'tuk', 'bre', 'ido', 'ile', 'kor', 'uig',
       'cat', 'kmr', 'isl', 'bel', 'hin', 'slk', 'tat', 'ind', 'nob',
       'jbo', 'tgl', 'lfn', 'nds', 'tlh', 'vie', 'pes', 'bul', 'ron',
       'ina', 'ell', 'ara', 'lat', 'swe', 'toki', 'srp', 'dan', 'ces',
       'lit', 'mar', 'cmn', 'mkd', 'pol', 'fin', 'nld', 'ukr', 'heb',
       'jpn', 'hun', 'spa', 'ber', 'por', 'fra', 'deu', 'kab', 'epo',
       'tur', 'ita', 'rus', 'eng', 'wuu', 'zsm', 'est', 'kat', 'afr', nan,
       'kaz', 'ben', 'hrv', 'tha', 'glg', 'vol', 'oci', 'aze', 'cor',
       'avk', 'mhr', 'kzj', 'run', 'gos'], dtype=object)

In [53]:
main_df.where(main_df.Label == 'mar').dropna()

        Label                                               Text
4199622   mar                       मी उद्या माझी खोली साफ करेन.
9547067   mar                          मला वाटतं यानंतर तू आहेस.
2536326   mar                     पुढच्या रविवारी तू काय करतोयस?
6576029   mar                                        पाडवू नकोस.
4903464   mar             एकेकाळी या गावात एक वयस्कर माणूस होता.
...       ...                                                ...
8761985   mar         सामी इजिप्तमध्ये एका छोट्या शहरात राहायचा.
2244408   mar                         तो तुझ्या भावासारखा दिसतो.
2381995   mar                                   कोणाचा खूप झाला?
9488410   mar                        तुला तुझं वचन आठवत नाही का?
7556622   mar  मेरीला इतका राग आला होता की तिला बोलायलाच होत ...

[6000 rows x 2 columns]

## Save preprocessed data

In [46]:
main_df.to_csv('data/prerpo.csv')

### oajdf

In [4]:
train_df = pd.read_csv('data/dataset.csv')

In [6]:
train_df

                                                    Text  language
0      klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1      sebes joseph pereira thomas  på eng the jesuit...   Swedish
2      ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4      de spons behoort tot het geslacht haliclona en...     Dutch
...                                                  ...       ...
21995  hors du terrain les années  et  sont des année...    French
21996  ใน พศ  หลักจากที่เสด็จประพาสแหลมมลายู ชวา อินเ...      Thai
21997  con motivo de la celebración del septuagésimoq...   Spanish
21998  年月，當時還只有歲的她在美國出道，以mai-k名義推出首張英文《baby i like》，由...   Chinese
21999   aprilie sonda spațială messenger a nasa și-a ...  Romanian

[22000 rows x 2 columns]

In [8]:
train_df.language.value_counts()

Latin         1000
Dutch         1000
Tamil         1000
Arabic        1000
Thai          1000
Spanish       1000
Estonian      1000
Pushto        1000
Romanian      1000
Hindi         1000
Urdu          1000
Russian       1000
Turkish       1000
Korean        1000
English       1000
Chinese       1000
Portugese     1000
Indonesian    1000
Persian       1000
Swedish       1000
French        1000
Japanese      1000
Name: language, dtype: int64

In [10]:
train_df2 =  pd.read_csv('data/Language_Detection.csv')
train_df2

                                                    Text Language
0       Nature, in the broadest sense, is the natural...  English
1      "Nature" can refer to the phenomena of the phy...  English
2      The study of nature is a large, if not the onl...  English
3      Although humans are part of nature, human acti...  English
4      [1] The word nature is borrowed from the Old F...  English
...                                                  ...      ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

[10337 rows x 2 columns]

In [12]:
train_df2.Language.value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: Language, dtype: int64

In [26]:
tam_df = train_df.loc[train_df.language == 'Tamil']
tam_df

                                                    Text language
3      விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...    Tamil
20     ஆங்கில எழுத்துக்களை மட்டும் அல்லாமல் பன்மொழி எ...    Tamil
62     இரண்டு மீட்டர்களும் ஒரு அரை மீட்டரும் இணைந்த ந...    Tamil
72     இந்த இரண்டு வகையிலும் வரையறுக்கப்பட்ட பொறுப்பு...    Tamil
93     பெருந்தோட்டம் என்பது தொலைதூரச் சந்தைகளுக்காகப்...    Tamil
...                                                  ...      ...
21887  சேக் சயத் மசூதி ஐக்கிய அரபு அமீரகத்தின் தலைநகர...    Tamil
21889  அடியார்களுக்கு அன்னமிடுவதை வழக்கமாக கொண்டிருந்...    Tamil
21892  களர் சம்பா kalar samba என்று அழைக்கப்படும் இந்...    Tamil
21965  யூலரின் முறை முதல் வரிசையாகும் உறுதியான தன்மை ...    Tamil
21994  அனாதரவற்ற சிறுவர்களை அரவணைக்கும் முகமாக சிறுவர...    Tamil

[1000 rows x 2 columns]

In [27]:
tam_df = pd.concat([train_df2.loc[train_df2.Language == 'Tamil'], tam_df])

In [34]:
tam_df.head()

                                                   Text Language language
2042  விக்கிப்பீடியா (Wikipedia; /ˌwɪkɪˈpiːdiə/ (கேட...    Tamil      NaN
2043  தமிழ் விக்கிப்பீடியாவின் 1,00,000க்கும் மேற்பட...    Tamil      NaN
2044  பெரும்பாலும் இதன் எல்லாக் கட்டுரைகளும், இதனைப்...    Tamil      NaN
2045  [6] மேலும் இது கிட்டத்தட்ட 100,000 முனைப்பான ப...    Tamil      NaN
2046  [7][8] சனவரி 2021 வரையில், விக்கிப்பீடியா 285 ...    Tamil      NaN

In [38]:
tam_df.drop(['Language','language'], axis=1, inplace=True)

In [39]:
tam_df['Label'] = 'tam'

In [40]:
tam_df

                                                    Text Label
2042   விக்கிப்பீடியா (Wikipedia; /ˌwɪkɪˈpiːdiə/ (கேட...   tam
2043   தமிழ் விக்கிப்பீடியாவின் 1,00,000க்கும் மேற்பட...   tam
2044   பெரும்பாலும் இதன் எல்லாக் கட்டுரைகளும், இதனைப்...   tam
2045   [6] மேலும் இது கிட்டத்தட்ட 100,000 முனைப்பான ப...   tam
2046   [7][8] சனவரி 2021 வரையில், விக்கிப்பீடியா 285 ...   tam
...                                                  ...   ...
21887  சேக் சயத் மசூதி ஐக்கிய அரபு அமீரகத்தின் தலைநகர...   tam
21889  அடியார்களுக்கு அன்னமிடுவதை வழக்கமாக கொண்டிருந்...   tam
21892  களர் சம்பா kalar samba என்று அழைக்கப்படும் இந்...   tam
21965  யூலரின் முறை முதல் வரிசையாகும் உறுதியான தன்மை ...   tam
21994  அனாதரவற்ற சிறுவர்களை அரவணைக்கும் முகமாக சிறுவர...   tam

[1469 rows x 2 columns]

In [29]:
kan_df = train_df2.loc[train_df2.Language == 'Kannada']

In [42]:
kan_df.drop(['Language'], axis=1, inplace=True)

D:\Machine_learning\Recurrent_Neural_Network\Recurrent_Env\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [44]:
kan_df['Label'] = 'kan'

<ipython-input-44-14349371f59f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kan_df['Label'] = 'kan'

In [45]:
kan_df

                                                    Text Label
9968   .ನಾವೆಲ್ಲರೂ ಇಂಗ್ಲಿಷ್ನಲ್ಲಿ ಹೆಚ್ಚು ನಿರರ್ಗಳವಾಗಲು ತ...   kan
9969   ಆದ್ದರಿಂದ ಇಂದು ನಾವು 10 ಹೊಸ ಸ್ಮಾರ್ಟ್ ಪದಗಳನ್ನು ಅವ...   kan
9970   ಮತ್ತು ಈ ವೀಡಿಯೊದಲ್ಲಿ ನಾನು ನಿಮಗೆ ದೈನಂದಿನ ಬಳಕೆಗಾಗ...   kan
9971   ನಾನು ನಿಜವಾಗಿಯೂ ನಿರರ್ಗಳವಾಗಿ ಸ್ಮಾರ್ಟ್ ವರ್ಡ್ ಸಂಖ್...   kan
9972   ಒಂದನ್ನು ಜೌಗು ಜೌಗು ಎಂದರೆ ಮುಳುಗಿಸುವುದು ಅಥವಾ ಪ್ರವ...   kan
...                                                  ...   ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...   kan
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...   kan
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...   kan
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...   kan
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...   kan

[369 rows x 2 columns]

In [46]:
tam_kan_df = pd.concat([tam_df, kan_df])

In [47]:
tam_kan_df

                                                    Text Label
2042   விக்கிப்பீடியா (Wikipedia; /ˌwɪkɪˈpiːdiə/ (கேட...   tam
2043   தமிழ் விக்கிப்பீடியாவின் 1,00,000க்கும் மேற்பட...   tam
2044   பெரும்பாலும் இதன் எல்லாக் கட்டுரைகளும், இதனைப்...   tam
2045   [6] மேலும் இது கிட்டத்தட்ட 100,000 முனைப்பான ப...   tam
2046   [7][8] சனவரி 2021 வரையில், விக்கிப்பீடியா 285 ...   tam
...                                                  ...   ...
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...   kan
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...   kan
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...   kan
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...   kan
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...   kan

[1838 rows x 2 columns]

In [57]:
main_df = pd.read_csv('data/prerpo.csv',index_col=[0])

In [58]:
main_df.head()

        Label               Text
5021444   yue         你點解唔同我哋講嘅？
1952374   yue            你要食早餐啊。
1018771   yue             你同我講嘢？
5383439   yue               放開佢！
5411289   yue  你成世人收過最正嘅聖誕禮物係咩呀？

In [61]:
main_df = pd.concat([main_df, tam_kan_df])

In [66]:
main_df.reset_index(inplace=True)

In [69]:
main_df.drop('index', axis=1, inplace=True)

## Save df

In [70]:
main_df.to_csv('data/main_data.csv')